In [2]:
from pandas_datareader.data import DataReader

start = '1957-01-01'
end = '2024-10-01'

cpi = DataReader('CPILFESL', 'fred', start=start, end=end)
cpi.tail(12)

            CPILFESL
DATE
2023-11-01   312.349
2023-12-01   313.209
2024-01-01   314.438
2024-02-01   315.565
2024-03-01   316.698
2024-04-01   317.622
2024-05-01   318.140
2024-06-01   318.346
2024-07-01   318.872
2024-08-01   319.768
2024-09-01   320.767
2024-10-01   321.666